/**
 * BUTTON

 * A button class used to style anchor and button elements, with many
 * modifiers to alter the appearance
 */


@mixin button-color($bg-color, $text-color: $white) {
  background: $bg-color;
  color: $text-color;

  &.button--disabled,
  &[disabled],
  &:disabled {
    background: lighten($bg-color, 20%);

    &:hover {
      background: lighten($bg-color, 20%);
    }
  }

  &:hover {
    background: lighten($bg-color, 5%);
  }
}

.button {
  display: inline-block;
  padding: $padding $padding * 2;
  border: none;
  border-radius: $radius;
  background: $black;
  color: $white;
  font-size: $fs-medium;
  font-weight: 700;
  outline: 0;
  cursor: pointer;
  @include appearance(none);

  &:hover {
    background: lighten($black, 5%);
  }

  &--disabled,
  &[disabled],
  &:disabled {
    background: lighten($black, 50%);
  }

  &--tiny {
    padding: 0 $padding;
    font-size: $fs-small;
  }

  &--small {
    padding: ($padding / 2) $padding;
    font-size: $fs-small;
  }

  &--small-on-small {
    @media #{$breakpoint-medium} {
      padding: ($padding / 2) $padding;
      font-size: $fs-small;
    }
  }

  &--expand {
    display: block;
    width: 100%;
    text-align: center;
  }

  &--expand-on-small {
    display: block;
    width: 100%;
    text-align: center;

    @media #{$breakpoint-small} {
      display: inline-block;
      width: auto;
    }
  }

  &--remove {
    padding: 0;
    width: ($padding * 2);
    height: ($padding * 2);
    background: $white;
    border: 1px solid $red;
    line-height: ($padding * 2);
    font-size: $fs-large;
    font-weight: 400;
    text-align: center;
    color: $red;

    &:hover {
      color: $white;
      background: $red;
    }
  }

  &--white {
    @include button-color($white, $black);
  }

  &--blue {
    @include button-color($blue);
  }

  &--green {
    @include button-color($green);
  }

  &--red {
    @include button-color($red);
  }

  &--yellow {
    @include button-color($yellow, $black);
  }

  &--facebook {
    @include button-color($facebook);
  }

  &--google-analytics {
    @include button-color($google-analytics);
  }

  &--shopify {
    @include button-color($shopify);
  }

  &--twitter {
    @include button-color($twitter);
  }
}
