/**
 * FORM

 * Styling for form elements
 */


.input {
  padding: $padding;
  background: $white;
  border: 2px solid $light-black;
  border-radius: $radius;
  outline: 0;
  color: $black;
  @include appearance(none);

  &--black {
    border-color: $black;
  }

  &--blue {
    border-color: $blue;
  }

  &--green {
    border-color: $green;
  }

  &--red {
    border-color: $red;
  }

  &--yellow {
    border-color: $yellow;
  }
}
