/**
 * UTIL

 * Classes for quickly adding useful properties to an element
 */

.hidden {
  display: none !important;
}

.frozen {
  overflow: hidden;
}

.fill--blue {
  fill: $blue;
}

.fill--green {
  fill: $green;
}

.fill--red {
  fill: $red;
}

.fill--yellow {
  fill: $yellow;
}
