/**
 * UTIL

 * Classes for quickly adding useful properties to an element
 */


.showing {
  display: block !important;
}

.hidden {
  display: none !important;
}

.invisible {
  // display: none not set, so animations can still work
  visibility: hidden !important;
  z-index: $z-hidden !important;
  pointer-events: none !important;
}

.frozen {
  overflow: hidden !important;
}

.fade-in {
  @include transition(all $t-fast ease-in);
  opacity: 1 !important;
}

.fade-out {
  @include transition(all $t-fast ease-out);
  opacity: 0 !important;
}

.color-positive {
  color: $green;
}

.color-negative {
  color: $red;
}

.nowrap {
  white-space: nowrap;
}

.nospace {
  padding: 0;
}

.clear {
  overflow: hidden;
  clear: both;
}
