/**
 * Root elements
 */

body {
  color: $black;
  font-family: 'open sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/**
 * Type elements
 */

h1 {
  margin: 0 0 $padding * 2;
  font-size: 30px;
  line-height: 1.3;

  @include media($breakpoint-medium) {
    font-size: 40px;
  }
}

h2 {
  margin: 0 0 $padding * 2;
  font-size: 20px;
  line-height: 1.2;

  @include media($breakpoint-medium) {
    font-size: 28px;
  }
}

h3 {
  margin: 0 0 $padding;
  font-size: 16px;
  line-height: 1.3;

  @include media($breakpoint-medium) {
    font-size: 20px;
  }
}

p {
  margin: 0;
  padding: 0 0 $padding * 2;
}

a {
  color: $white;
  text-decoration: none;
}
