/*doc
---
title: Button
name: button
category: elements
---
```html_example
  <header class="header"></header>
```
*/
.button {
  display: inline-block;
  padding: $padding $padding * 2;
  border: none;
  border-radius: $radius;
  background: $black;
  color: $white;
  font-weight: 700;
  @include appearance(none);

  &:hover {
    background: lighten($black, 5%);
  }

  &--expand {
    display: block;
    text-align: center;

    @include media($breakpoint-small) {
      display: inline-block;
    }
  }

  &--blue {
    background: $blue;

    &:hover {
      background: lighten($blue, 5%);
    }
  }

  &--green {
    background: $green;

    &:hover {
      background: lighten($green, 5%);
    }
  }

  &--red {
    background: $red;

    &:hover {
      background: lighten($red, 5%);
    }
  }

  &--yellow {
    background: $yellow;
    color: $black;

    &:hover {
      background: lighten($yellow, 5%);
    }
  }

  &--inverse {
    background: $white;
    color: $black;

    &:hover {
      background: darken($white, 5%);
    }
  }
}
