.button {
  display: inline-block;
  padding: $padding $padding * 2;
  border: none;
  border-radius: $radius;
  background: $black;
  color: $white;
  font-size: 16px;
  font-weight: 700;
  @include appearance(none);

  &:hover {
    background: lighten($black, 5%);
  }

  &--small {
    padding: 0 $padding;
    font-size: 14px;
  }

  &--expand {
    display: block;
    width: 100%;
    text-align: center;
  }

  &--expand-on-small {
    display: block;
    width: 100%;
    text-align: center;

    @include media($breakpoint-small) {
      display: inline-block;
      width: auto;
    }
  }

  &--white {
    background: $white;
    color: $black;

    &:hover {
      background: darken($white, 5%);
    }
  }

  &--blue {
    background: $blue;

    &:hover {
      background: lighten($blue, 5%);
    }
  }

  &--green {
    background: $green;

    &:hover {
      background: lighten($green, 5%);
    }
  }

  &--red {
    background: $red;

    &:hover {
      background: lighten($red, 5%);
    }
  }

  &--yellow {
    background: $yellow;
    color: $black;

    &:hover {
      background: lighten($yellow, 5%);
    }
  }
}
