.input {
  padding: ($padding - 2) $padding;
  background: $white;
  border: 2px solid $light-black;
  border-radius: $radius;
  color: $black;

  &--blue {
    border-color: $blue;
  }

  &--green {
    border-color: $green;
  }

  &--red {
    border-color: $red;
  }

  &--yellow {
    border-color: $yellow;
  }
}
