$font: museo, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
$font-alt: novecento_wide, Arial, Helvetica, sans-serif;
$font-quote: "Source Sans Pro", sans-serif;

$font-color: #666666;
$font-light: #999999;
$font-dark: #4d4d4d;
$font-black: #1a1a1a;
$blue: #29abe2;
$green: #39b54a;
$red: #c1272d;
$red-bg: #8a3d42;
$red-dark: #6d0d13;
$black: #555656;
$gray-light: #cccccc;
$gray-medium: #8a8a8a;
