* {
  @include box-sizing(border-box);
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  min-width: 1000px;
  position: relative;
  padding-bottom: 120px;
  background: white image-url("bg.png") no-repeat left 70px;
  background: white image-url("bg_ie8.png") no-repeat center 70px \9;
  background-size: 100%;
  .no-touch & {
    padding-top: 166px;
  }
  &.payment,
  &.signup {
    padding-top: 0;
    background-position: left -50px;
  }
  @include max-width(1000px) {
    background-size: 1000px auto;
  }
}

.layout-wrap {
  width: 1000px;
  position: relative;
  margin: 0 auto;
  padding: 0 20px;
}
