%header.header
  %nav.top-bar
    %ul.title-area
      %li.name
        %h1.logo= link_to 'UpHex', '/'

    %section.top-bar-section
      %ul.right
        %li= link_to 'log in', 'http://app.uphex.com/sessions/new'
