%header.mod-header
  .layout-wrap
    %h1.logo= link_to 'UpHex', '/'

    %nav
      %ul
        %li= link_to 'home', '/'
        -# %li= link_to 'pricing', '/pricing.html'
        %li= link_to 'team', '/team.html'
        %li= link_to 'sign up for beta', 'http://eepurl.com/EiQVL', :class => 'button blue'
