%header.mod-header
  .layout-wrap
    %h1.logo= link_to 'UpHex', '/'

    %nav
      %ul
        %li= link_to 'HOME', '/'
        -# %li= link_to 'pricing', '/pricing.html'
        %li= link_to 'TEAM', '/team.html'
        %li= link_to 'BETA SIGN UP', 'http://eepurl.com/EiQVL', :class => 'button blue'
