%header.header
  .container
    %h1.header__title
      = link_to 'UpHex', '/', class: 'logo'
    %ul.header__links
      %li.header__link
        = link_to 'Log In', "http://#{@app_host}/sessions/new"
