#modal.modal.invisible
  .modal__content.ask
    %a.js-prelaunch-modal.button.button--small.modal__close{href: '#'} ×
    #signup-content.container
      %h2 Coming Soon
      %p We’re putting the final touches on our software. Enter your email to reserve a spot on our waitlist.
      %p
        %strong
          Bonus: you'll get 25% off for signing up early!

      %form{name: 'signup'}
        #bad-email-message.message.message--red.hidden Oops! Please enter a valid email address.
        .input-group
          .input-group__input
            %input#signup-email.input.input--green#signup-email{:placeholder => 'Email'}
          .input-group__button
            %button.button.button--green Reserve Spot
    #signedup-content.container.hidden
      %h3 Congrats! One of many smart decisions.
      %p.nospace Check your email for confirmation and your coupon code.
  #overlay.modal__overlay
