#modal.modal.invisible
  .modal__content.ask
    %a.js-close-modal.button.button--small.modal__close{href: '#'} ×
    #signedup-content.container.hidden
      %h3 Awesome! A sample report is en route to your inbox.
      %p.nospace Be sure to check out the special offer at the bottom of the report.
  #overlay.modal__overlay
