#modal.modal.invisible
  .modal__content.ask
    %a.js-close-modal.button.button--small.modal__close{href: '#'} ×
    #signedup-content.container.hidden
      %h3 Woohoo! Thanks for signing up.
      %p.nospace Keep an eye on your inbox. Your coupon code is on its way.
  #overlay.modal__overlay
