%section.hero.hero--slant
  .container
    .hero__content
      %h1.hero__heading Smart Reports For Growing Businesses
      %p.hero__text Spreadsheets are time consuming. Dashboards are confusing. Get insights delivered to your inbox with UpHex.
      = link_to 'Pricing & Signup', 'http://app.uphex.com/users/new', class: 'button button--green button--expand-on-small u-center'
    .hero__graphic
      .hero__email-graphic

%section.tout
  .container
    %h1 Better Reports = Better Results
    .tout__item.tout__item--left
      .tout__content
        %h3 Automagical
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In id felis tincidunt, vulputate turpis sit amet, finibus lectus.
    .tout__item.tout__item--right
      .tout__content
        %h3 KPIs - Smarter Metrics
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In id felis tincidunt, vulputate turpis sit amet, finibus lectus.
    .tout__item.tout__item--left
      .tout__content
        %h3 Make Informed Decisions
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In id felis tincidunt, vulputate turpis sit amet, finibus lectus.
    .tout__item.tout__item--right
      .tout__content
        %h3 KPIs - Smarter Metrics
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In id felis tincidunt, vulputate turpis sit amet, finibus lectus.

%section.ask.ask
  .container
    %h2 See For Yourself
    %p Get a sample report sent to your inbox.
    .single-form
      .single-form__input
        %input.input.input--green{:placeholder => 'Email'}
      .single-form__button
        %button.button.button--green Send Report
