:plain
  <!-- HEADER -->
  <header>
    <nav class='navbar navbar-fixed-top'>
      <a class='navbar-brand' href='index.html'>
        <img width="139" height="50" class="logo" alt="UpHex" src="assets/images/logo.png" />
        <img width="44" height="50" class="logo-xs" alt="UpHex" src="assets/images/logo_xs.png" />
      </a>
      <ul class='nav'>
        <li class=''>
          <a href="./faq.html">FAQ</a>
        </li>
        <li class=''>
          <a href="./login.html">LOGIN</a>
        </li>
    </nav>
  </header>
  <!-- / HEADER -->

  <!-- MASTHEAD -->
  <section id="masthead">
  <div class="masthead">
    <div class="container">
      <div class="item active">
        <div class="row">
          <div class="col-md-6 masthead-title">
            <h1 class="masthead-title">Proactive Alerting</h1>
            <p class="masthead-text">
            UpHex is the easiest way to track your Google Analytics, Facebook, Twitter, and Shopify metrics.
            </p>
            <p class="masthead-text">
            Get intelligent alerts delivered to your inbox!
            </p>
            <br>
            <div class="masthead-actions">
              <!-- <a href="./features.html" class="btn btn-inverse btn-lg">
              LEARN MORE
              </a> -->

              <a href="./signup.html" class="btn btn-green btn-lg">
                GET STARTED
              </a>
            </div> <!-- /.masthead-actions -->
          </div> <!-- /.masthead-text -->

          <div class="col-md-6 masthead-img">
            <img width="907" height="558" class="img-responsive" alt="uphex-desktop-mobile-alerts" src="assets/images/uphex-desktop-mobile-alerts.png" />
          </div> <!-- /.masthead-img -->

        </div> <!-- /.row -->

      </div>

      </div>
    </section>

  </div>
  <!-- / MASTHEAD -->

  <footer id="footer">
    <div class="footer-wrapper">
      <div class="row">
        <div class="col-sm-6 buttons">
          <a class="btn btn-link" href="mailto:support@uphex.com">EMAIL</a>
          <a class="btn btn-link" href="https://twitter.com/uphexco">TWITTER</a>
          <a class="btn btn-link" href="./terms.html">TERMS</a>
          <a class="btn btn-link" href="./privacy.html">PRIVACY</a>
        </div>
        <div class="col-sm-6 text">
          Copyright &copy; 2015 UpHex
        </div>
      </div>
    </div>
  </footer>
