%section.hero
  .container
    .hero__content
      %h1 Smart Reports For Growing Businesses
      %p Spreadsheets are time consuming. Dashboards are confusing. Get insights delivered to your inbox with UpHex.
      = link_to 'Pricing & Signup', 'http://app.uphex.com/users/new', class: 'button'

%section.tout
  .container
    %h2 Better Reports = Better Results
    .tout__item
      .tout__content
        %h3 Automagical
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In id felis tincidunt, vulputate turpis sit amet, finibus lectus.
    .tout__item.tout__item--right
      .tout__content
        %h3 KPIs - Smarter Metrics
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In id felis tincidunt, vulputate turpis sit amet, finibus lectus.
    .tout__item
      .tout__content
        %h3 Make Informed Decisions
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In id felis tincidunt, vulputate turpis sit amet, finibus lectus.
    .tout__item.tout__item--right
      .tout__content
        %h3 KPIs - Smarter Metrics
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In id felis tincidunt, vulputate turpis sit amet, finibus lectus.

%section.ask
  .container
    %h2 See For Yourself
    %p Get a sample report sent to your inbox.
    .ask__form
      .ask__input
        %input{:placeholder => 'Email'}
      .ask__button
        %button.button.postfix Send Report
