%section.hero.hero--slant
  .container
    .hero__content
      %h1.hero__heading Smart Reports For Growing Businesses
      %p.hero__text Spreadsheets are time consuming. Dashboards are confusing. Get insights delivered to your inbox with UpHex.
      = link_to 'Pricing & Signup', "http://#{@app_host}/users/new", class: 'button button--green button--expand-on-small u-center'
    .graphic.graphic--report
      .graphic__header
        .graphic__header-info
          %p.graphic__header-sender UpHex Report
          %p.graphic__header-receiver
            %span to
            %span John Doe
        %p.graphic__header-avatar

%section.tout
  .container
    %h1 Better Reports = Better Results
    .tout__item.tout__item--icon-right
      .tout__icon-wrap
        %img.tout__icon.fill--blue(src='/assets/window-share.svg')
      .tout__content
        %h3 Hassle-Free Setup
        %p Connect your web services to UpHex with just a few clicks. That's it! Once connected, we seamlessly sync your data from across the web. Want to connect multiple accounts to UpHex? No problem! We intuitively link related accounts so all your metrics are grouped correctly.
    .tout__item.tout__item--icon-left
      .tout__icon-wrap
        %img.tout__icon.fill--yellow(src='/assets/server-lock.svg')
      .tout__content
        %h3 Accurate & Secure
        %p The only thing worse than no data is bad data. We deliver the most accurate data so you can make informed decisions. And, we make sure your data is safe by using the latest security protocols.
    .tout__item.tout__item--icon-right
      .tout__icon-wrap
        %img.tout__icon.fill--green(src='/assets/graph-bar-increase.svg')
      .tout__content
        %h3 Key Performance Indicators
        %p Metrics only tell part of the story. KPIs provide a deeper level of insight into your business performance. We can combine metrics from any of your web services to create unique, actionable KPIs for your business.
    .tout__item.tout__item--icon-center
      .tout__icon-wrap
        %img.tout__icon(src='/assets/integrations-graphic.png')
      .tout__content
        %h3 All Your Metrics Together
        %p Tired of checking multiple dashboards throughout the day? Get a holistic view of your business by combining all your metrics together. You'll be able to see your social media metrics next to your website analytics next to your online store results.


-# %section.ask.ask
-#  .container
-#    .ask__content
-#      %h2 See For Yourself
-#      %p Get a sample report sent to your inbox.

-#      %form{name: 'sampleSignup'}
-#        #sample-signup-message.repo-message.message.message--red.hidden Oops! Please enter a valid email address.
-#        .input-group
-#          .input-group__input
-#            %input#sample-signup-email.input.input--green{:placeholder => 'Email'}
-#          .input-group__button
-#            %button.button.button--green Send Report
