%section.hero.hero--stretch
  .container
    %h1.hero__single-heading Log In
    .hero__form.hero__form--single
      .input-stack
        %input.input{:placeholder => 'Email'}
        %input.input{:placeholder => 'Password', :type => 'password'}
      %button.button.button--green.button--expand Log In
