= partial 'shared/header'

%section.layout-wrap
  .mod-plans
    %header
      %h1 Plans and Pricing
      %p All Plans Come With a 30-Day Free Trial

    %dl.descriptions
      %dt Streams
      %dd Lorem ipsum dolor sit amet, consectetur adipiscing elit.

      %dt Users
      %dd Lorem ipsum dolor sit amet, consectetur adipiscing elit.

      %dt Live Detection
      %dd Lorem ipsum dolor sit amet, consectetur adipiscing elit.

      %dt Automatic Monitoring
      %dd Lorem ipsum dolor sit amet, consectetur adipiscing elit.

      %dt Realtime Notifications
      %dd Lorem ipsum dolor sit amet, consectetur adipiscing elit.

      %dt 24/7 Support
      %dd Lorem ipsum dolor sit amet, consectetur adipiscing elit.

    %ul
      %li.startup
        %h2 Startup

        %dt Price
        %dd.price
          $49
          %span / month

        %dt Trial
        %dd.trial
          = link_to 'Start Free Trial', '#', :class => 'button green'

        %dt Streams
        %dd.streams 3

        %dt Users
        %dd 1 user

        %dt Live Detection
        %dd.checked yes

        %dt Automatic Monitoring
        %dd.checked yes

        %dt Realtime Notifications
        %dd.checked yes

        %dt 24/7 Support
        %dd.checked yes

      %li.business
        %h2 Small Business

        %dt Price
        %dd.price
          $149
          %span / month

        %dt Trial
        %dd.trial
          = link_to 'Start Free Trial', '#', :class => 'button green'

        %dt Streams
        %dd.streams 5

        %dt Users
        %dd unlimited users

        %dt Live Detection
        %dd.checked yes

        %dt Automatic Monitoring
        %dd.checked yes

        %dt Realtime Notifications
        %dd.checked yes

        %dt 24/7 Support
        %dd.checked yes

      %li.enterprise
        %h2 Enterprise

        %dt Price
        %dd.price
          $499
          %span / month

        %dt Trial
        %dd.trial
          = link_to 'Start Free Trial', '#', :class => 'button green'

        %dt Streams
        %dd.streams 8

        %dt Users
        %dd unlimited users

        %dt Live Detection
        %dd.checked yes

        %dt Automatic Monitoring
        %dd.checked yes

        %dt Realtime Notifications
        %dd.checked yes

        %dt 24/7 Support
        %dd.checked yes

  .mod-faq
    %h2 "Frequently Asked Questions"

    %ul
      %li
        %h3 How does the 30-day free trial work?
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in ante turpis. Fusce nec turpis dolor. Sed a enim eu. Lorem ipsum dolor sit amet.

      %li
        %h3 Do I have to sign a long term contract?
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in ante turpis. Fusce nec turpis dolor.

      %li
        %h3 How does the 30-day free trial work?
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in ante turpis. Fusce nec turpis dolor. Sed a enim eu. Lorem ipsum dolor sit amet.

      %li
        %h3 Do I have to sign a long term contract?
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in ante turpis. Fusce nec turpis dolor. Sed a enim eu. Lorem ipsum dolor sit amet.

      %li
        %h3 How does the 30-day free trial work?
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in ante turpis. Fusce nec turpis dolor. Sed a enim eu.

      %li
        %h3 Do I have to sign a long term contract?
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in ante turpis. Fusce nec turpis dolor.
