%section.hero.hero--slant
  .container
    %h1.hero__single-heading A single price for unlimited benefits
    .hero__price-chart
      .price-chart
        %ul.price-chart__features
          %li.price-chart__feature Continuous reporting
          %li.price-chart__feature Unlimited accounts
          %li.price-chart__feature Unlimited channels
          %li.price-chart__feature Direct email support
        %p.price-chart__heading
          %strong $249
          %span / month
    .hero__form
      .input-tower
        %input.input{:placeholder => 'Name'}
        %input.input{:placeholder => 'Email'}
        %input.input{:placeholder => 'Password', :type => 'password'}
      %button.button.button--green.button--expand Sign Up

%section.tout
  .container
    %h1 Questions?
    .tout__item-row
      .tout__item
        .tout__content
          %h3 Question
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In id felis tincidunt, vulputate turpis sit amet, finibus lectus.
      .tout__item
        .tout__content
          %h3 Question
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In id felis tincidunt, vulputate turpis sit amet, finibus lectus.
    .tout__item-row
      .tout__item
        .tout__content
          %h3 Question
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In id felis tincidunt, vulputate turpis sit amet, finibus lectus.
      .tout__item
        .tout__content
          %h3 Question
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In id felis tincidunt, vulputate turpis sit amet, finibus lectus.
