%section.hero.hero--slant
  .container
    .hero__pricing
    .hero__form
      .input-tower
        %input.input{:placeholder => 'Name'}
        %input.input{:placeholder => 'Email'}
        %input.input{:placeholder => 'Password', :type => 'password'}
      %button.button.button--green.button--expand Sign Up

%section.tout
  .container
    %h1 Questions?
    .tout__item
      .tout__content
        %h3 Question
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In id felis tincidunt, vulputate turpis sit amet, finibus lectus.
    .tout__item
      .tout__content
        %h3 Question
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In id felis tincidunt, vulputate turpis sit amet, finibus lectus.
    .tout__item
      .tout__content
        %h3 Question
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In id felis tincidunt, vulputate turpis sit amet, finibus lectus.
    .tout__item
      .tout__content
        %h3 Question
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In id felis tincidunt, vulputate turpis sit amet, finibus lectus.
