%section.hero.hero--slant
  .container
    %h1.hero__single-heading One Price. Unlimited Insights.
    .hero__price-chart
      .price-chart
        %ul.price-chart__features
          %li.price-chart__feature Continuous metric tracking
          %li.price-chart__feature Automated reports
          %li.price-chart__feature Unique, actionable KPIs
          %li.price-chart__feature Unlimited connections
          %li.price-chart__feature Direct email support
        %p.price-chart__heading
          %strong $249
          %span / month
    .hero__form
      .input-stack
        %input.input{:placeholder => 'Name'}
        %input.input{:placeholder => 'Email'}
        %input.input{:placeholder => 'Password', :type => 'password'}
      %button.button.button--green.button--expand Sign Up

%section.tout
  .container
    %h1 Questions?
    .tout__item-row
      .tout__item
        .tout__content
          %h3 Do you offer a free trial?
          %p No. Instead, we offer a 30-day money back guarantee. And if you want to see our service in action, you can sign up for a sample report on our homepage.
      .tout__item
        .tout__content
          %h3 Is my data safe?
          %p Absolutely! We use the latest security protocols to ensure your data is safe and sound.
    .tout__item-row
      .tout__item
        .tout__content
          %h3 How often do you send reports? When will I get my first report?
          %p We send reports every week on Mondays. If you sign up mid-week, you will receive your first report the Monday following your first full week.
      .tout__item
        .tout__content
          %h3 What web services do you integrate with?
          %p= "UpHex works with Google Analytics, Facebook, Twitter, and Shopify...with more coming soon. Want to suggest our next integration? Send a note to #{link_to 'feedback@uphex.com', 'mailto:feedback@uphex.com'}.".html_safe
