.layout-wrap
  %section.mod-team
    %h1 Privacy Policy

    %article
      %h2 Policy

      %p This privacy policy ("Policy") describes how UpHex, LLC and its related companies ("Company") collect, use and share personal information of consumer users of this website, http://uphex.com (the "Site"). This Policy also applies to any of our other websites that post this Policy. This Policy does not apply to websites that post different statements.

      %h2 What We Collect

      %p We get information about you in a range of ways.

      %h2 Information You Give Us

      %p We collect your name, email address, password, company name and other information you directly give us on our Site.

      %h2 Information We Get from Others

      %p We may get information about you from other sources. We may add this to information we get from this Site.

      %h2 Information Automatically Collected

      %p We automatically log information about you and your computer. For example, when visiting our Site, we log your computer operating system type, browser langauge, the website you visited before browsing to our Site, pages you viewed, how long you spent on a page, access times, Internet protocol (IP) address and information about your use of actions on our Site.

      %p Cookies: We may log information using "cookies". Cookies are small data files stored on your hard drive by a website. Cookies help us make our Site and your visit better. We use cookies to see which parts of our Site people use and like and to count visits to our Site.

      %p Web Beacons: We may log information using digital images called "web beacons" on our Site or in our emails. We use web beacons to manage cookies, count visits, and to learn what marketing works and what does not. We also use web beacons to tell if you open or act on our emails.

      %h2 Use of Personal Information

      %p We use your personal information to operate, maintain, and improve our sites, products, and services.

      %h2 Sharing of Personal Information

      %p We may share personal information with your consent. For example, you may let us share personal information with others for their own marketing uses. Those uses will be subject to their privacy policies.

      %p We may share personal information when we do a business deal, or negotiate a business deal, involving the sale or transfer of all or a part of our business or assets. These deals can include any merger, financing, acquisition, or bankruptcy transaction or proceeding.

      %p We may share personal information for legal, protection, and safety purposes. For example, we may share information to (i) comply with laws, (ii) respond to lawful requests and legal process, (iii) protect the rights and property of UpHex, LLC, our agents, customers, and others (this includes enforcing our agreements, policies, and terms of use), or (iv) respond to an emergency (this includes protecting the safety of our employees and agents, our customers, or any person).

      %p We may share information with those who need it to do work for us.

      %p We may share anonymized and/or aggregated data with others for their own uses.

      %h2 Information Choices and Changes

      %p Our marketing emails tell you how to "opt-out". If you opt out, we may still send you non-marketing emails. Non-marketing emails include emails about your accounts and our business dealings with you.

      %p You may send requests about personal information to our Contact Information below. You can request to change contact choices, opt-out of our sharing with others, and update your personal information.

      %p You can typically remove and reject cookies from our Site with your browser settings. Many browsers are set to accept cookies until you change your settings. If you remove or reject our cookies, it could affect how our Site works for you.

      %h2 Security of Your Personal Information

      %p We take steps to help protect personal information. No company can fully prevent security risks, however. Mistakes may happen. Bad actors may defeat even the best safeguards.

      %h2 Contact Information

      %p We welcome your comments or questions about this Privacy Policy. You may contact us via email at support@uphex.com or via snail mail at 9 Elliewood Ave., Charlottesville, VA 22903.

      %h2 Changes to this Privacy Policy

      %p We may change this Privacy Policy. If we make any changes, we will change the Last Updated date below.

      %p This Privacy Policy was last updated on 9/4/2013 and published to the UpHex website on 9/5/2013.
