.mod-footer {
  width: 100%;
  height: 108px;
  bottom: 0;
  position: absolute;
  margin: 0;
  font-family: $font-alt;
  font-size: 11px;
  font-weight: 500;
  line-height: 109px;
  letter-spacing: 0.05em;
  @include data-uri-bg("logo_simple.png", #f7f7f7 center center no-repeat);
  @include retina {
    @include data-uri-bg("logo_simple2x.png", #f7f7f7 center center no-repeat);
    background-size: 31px auto;
  }

  .mail {
    font-family: $font;
    font-weight: normal;
  }
  ul {
    float: left;
  }
  li {
    float: left;
    &:first-child a {
      padding-left: 0;
    }
  }
  a {
    height: 108px;
    display: block;
    padding: 0 43px;
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
  p {
    float: right;
  }
}
