.mod-plans {
  @extend %clearfix;
  margin-bottom: 140px;
  font-size: 0;
  header {
    margin-bottom: 60px;
    text-align: center;
    p {
      width: 75%;
      margin: 0 auto;
      font-size: 22px;
      line-height: 1.5;
      letter-spacing: 0.1em;
      color: $font-light;
    }
  }
  h2 {
    height: 59px;
    margin-bottom: 0;
    padding-top: 24px;
    font-family: $font-alt;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.05em;
    color: white;
  }
  .descriptions {
    width: 24.9%;
    display: inline-block;
    padding-right: 25px;
    padding-bottom: 14px;
    text-align: right;
    vertical-align: bottom;
    dt {
      height: 22px;
      position: relative;
      margin-top: 28px;
      margin-left: -30px;
      padding-right: 16px;
      font-size: 17px;
      letter-spacing: 0.075em;
      color: $blue;
      &:after {
        top: 2px;
        right: 0;
        position: absolute;
        content: " \00AB";
        font-family: $font-alt;
        font-size: 15px;
      }
    }
    dd {
      height: 40px;
      font-size: 13px;
      line-height: 1.4;
      letter-spacing: 0.025em;
      color: $font-light;
    }
  }
  ul {
    width: 75%;
    display: inline-block;
    background: white;
  }
  li {
    width: 33.3333%;
    float: left;
    padding-bottom: 14px;
    letter-spacing: 0.025em;
    dt {
      display: none;
    }
    dd {
      height: 63px;
      margin-top: 27px;
      font-size: 19px;
      text-align: center;
      line-height: 63px;
      &.price {
        height: 62px;
        margin-top: 0;
        font-family: $font-alt;
        font-size: 32px;
        font-weight: 600;
        line-height: 62px;
        span {
          left: -6px;
          position: relative;
          font-size: 14px;
          font-weight: 300;
          color: $font-light;
        }
      }
      &.trial {
        height: 47px;
        margin-top: 0;
        .button {
          width: 80%;
          margin: 0 auto;
          font-size: 13px;
          line-height: 57px;
        }
      }
      &.streams {
        font-size: 29px;
        line-height: 70px;
      }
      &.checked {
        @include data-uri-bg("i_checked.png", no-repeat center center);
        @include hide-text;
        @include retina {
          @include data-uri-bg("i_checked2x.png", no-repeat center center);
          background-size: 28px auto;
        }
      }
    }
    &.startup {
      border-left: 2px solid #1d7fa2;
      border-bottom: 1px solid #1d7fa2;
      h2 {
        background: #1d7fa2;
      }
    }
    &.business {
      border-bottom: 1px solid $blue;
      h2 {
        background: $blue;
      }
    }
    &.enterprise {
      border-right: 2px solid #78c7e3;
      border-bottom: 1px solid #78c7e3;
      h2 {
        background: #78c7e3;
      }
    }
  }
}
