.mod-team {
  margin-bottom: 135px;
  padding-left: 40px;
  h1 {
    margin-bottom: 70px;
    text-align: center;
  }
  article {
    margin-bottom: 70px;
    position: relative;
    letter-spacing: 0.005em;
    h2 {
      margin-left: 35%;
      margin-bottom: 32px;
      font-size: 25px;
      color: $font-black;
      span {
        font-size: 23px;
        font-weight: normal;
        color: $gray-medium;
      }
    }
    img {
      width: 230px;
      height: 230px;
      top: 0;
      left: 0;
      position: absolute;
      overflow: hidden;
      border: 8px solid white;
      @include border-radius(50%);
      @include box-shadow(0 0 2px #cccccc);
    }
    p {
      margin-left: 35%;
      margin-bottom: 22px;
      font-size: 16px;
      line-height: 1.354;
      color: $font-dark;
    }
    ul {
      width: 230px;
      top: 244px;
      left: 0;
      position: absolute;
      text-align: center;
    }
    li {
      width: 38px;
      display: inline-block;
      a {
        width: 32px;
        height: 32px;
        display: inline-block;
        background: $gray-medium;
        @include border-radius(50%);
        @include hide-text;
        &.mail {
          @include data-uri-bg("i_mail.png", $gray-medium no-repeat center center);
          @include retina {
            @include data-uri-bg("i_mail2x.png", $gray-medium no-repeat center center);
            background-size: auto 16px;
          }
        }
        &.google {
          @include data-uri-bg("i_google_small.png", $gray-medium no-repeat center center);
          @include retina {
            @include data-uri-bg("i_google_small2x.png", $gray-medium no-repeat center center);
            background-size: auto 16px;
          }
        }
        &.linkedin {
          @include data-uri-bg("i_linkedin.png", $gray-medium no-repeat center center);
          @include retina {
            @include data-uri-bg("i_linkedin2x.png", $gray-medium no-repeat center center);
            background-size: auto 16px;
          }
        }
        &.twitter {
          @include data-uri-bg("i_twitter_small.png", $gray-medium no-repeat center center);
          @include retina {
            @include data-uri-bg("i_twitter_small2x.png", $gray-medium no-repeat center center);
            background-size: auto 16px;
          }
        }
        &:hover {
          background-color: $blue;
        }
      }
    }
  }
}
