.mod-thoughts {
  margin-bottom: 90px;
  h2 {
    margin-bottom: 45px;
    text-align: center;
  }
  ul {
    font-size: 0;
  }
  li {
    width: 39%;
    display: inline-block;
    margin: 0 5.4% 0 5.4%;
    line-height: 1.45;
    vertical-align: top;
  }
  blockquote {
    margin-bottom: 10px;
    padding-bottom: 40px;
    font-family: $font-quote;
    font-size: 17px;
    font-style: italic;
    letter-spacing: 0.05em;
    color: $font-light;
    @include data-uri-bg("quote.png", no-repeat bottom left);
    @include retina {
      @include data-uri-bg("quote2x.png", no-repeat bottom left);
      background-size: auto 21px;
    }
  }
  footer {
    font-size: 20px;
    span {
      display: block;
      font-family: $font-alt;
      font-size: 10px;
      letter-spacing: 0.05em;
      color: $font-light;
    }
  }
}
