/**
 * ASK

 * A block that can be used for many purposes, usually to center and
 * display a form or message to the user. It assumes that the content inside it
 * should display in a narrow column.
 */


.ask {
  padding: $padding 0;
  background: $dark-white;
  text-align: center;

  &__content {
    @media #{$breakpoint-small} {
      @include span-columns(8);
      @include shift(2);
    }
  }

  .input-group {
    @media #{$breakpoint-medium} {
      @include span-columns(8);
      @include shift(2);
    }
  }

  @media #{$breakpoint-medium} {
    padding: $padding * 5 0;

    p {
      font-size: $fs-large;
    }
  }
}
