/**
 * BUTTON GROUP

 * Aligns and modifies the appearance of a row of buttons
 */


.button-group {
  margin-bottom: $padding * 2;

  &__item {
    border-radius: 0;
    float: left;

    &:first-of-type,
    &:first-of-type .button {
      border-top-left-radius: $radius;
      border-bottom-left-radius: $radius;
    }

    &:first-of-type,
    &:last-of-type .button {
      border-top-right-radius: $radius;
      border-bottom-right-radius: $radius;
    }

    .button {
      border-radius: 0;
    }
  }
}
