/**
 * CONTAINER

 * A special block used to constrain the contents inside it to provide
 * horizontal gutter space at large resolutions. They also act as "rows"
 * that you may be familiar with in Bootstrap or Foundation grid systems.
 * This block should never be extended with elements or modifiers.
 */


.container {
  // no overflow: hidden set incase we have elements that could extend outside of it
  position: relative;
  padding: 0 $padding;
  @include outer-container();

  @media #{$breakpoint-medium} {
    padding: 0 $padding * 2;
  }
}
