/**
 * FOOTER

 * The last block of a page, used to display a logo, images and links you would
 * find in a typical footer. Supports content on both the left and right sides
 * of the block, with all of them collapsing to one column on small screens.
 */


.footer {
  padding: $padding 0;
  text-align: center;
  background: $black;

  &__title {
    display: block;
    margin: $padding auto $padding * 2;
    width: 37px;
    height: 42px;
    text-indent: -9999px;
    background: url('/assets/logo-markonly-white@2x.png') no-repeat;
    background-size: 100%;

    @media #{$breakpoint-medium} {
      float: left;
      margin: 0;
    }
  }

  &__links {
    margin: 0 -5px;
    padding: 0;
    list-style: none;

    @media #{$breakpoint-medium} {
      position: absolute;

      &--primary {
        left: 42px + $padding * 3;
      }

      &--secondary {
        right: $padding * 2;
      }
    }
  }

  &__link {
    font-size: $fs-small;
    line-height: 42px;

    a {
      color: $white;
    }

    @media #{$breakpoint-medium} {
      display: inline-block;
      margin: 0 5px;
    }
  }

  .container {
    overflow: hidden;
  }

  .button-wrap {
    @media #{$breakpoint-medium} {
      float: right;
    }
  }

  .logo {
    margin: $padding auto $padding * 2;

    @media #{$breakpoint-medium} {
      float: left;
      margin: 0;
    }
  }

  .button {
    margin: 0 0 $padding;
    padding-top: 0;
    padding-bottom: 0;
    font-size: $fs-small;

    @media #{$breakpoint-medium} {
      margin: 0 0 0 5px;
    }
  }

  &--splash {
    padding: $padding * 2;

    .footer__links {
      position: relative;
      text-align: center;
    }
  }

  @media #{$breakpoint-medium} and #{$breakpoint-vertical-small}{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
  }

  @media #{$breakpoint-medium} {
    padding: $padding * 2 0;
    text-align: inherit;
  }
}
