/**
 * FOOTER

 * The last block of a page, used to display images and links you would
 * find in a typical footer
 */


.footer {
  padding: $padding 0;
  text-align: center;
  background: $black;

  &__links {
    margin: 0 -5px;
    padding: 0;
    list-style: none;
  }

  &__link {
    font-size: 14px;
    line-height: 42px;

    a {
      color: $white;
    }
  }

  .logo {
    margin: $padding auto $padding * 2;
  }

  .button {
    margin: 0 0 $padding;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 14px;
  }

  @include media($breakpoint-medium) {
    padding: $padding * 2 0;
    text-align: inherit;

    &__links {
      position: absolute;

      &--primary {
        left: 42px + $padding * 3;
      }

      &--secondary {
        right: $padding * 2;
      }
    }

    &__link {
      display: inline-block;
      margin: 0 5px;
    }

    &__buttonwrap {
      float: right;
    }

    .logo {
      float: left;
      margin: 0;
    }

    .button {
      margin: 0 0 0 5px;
    }
  }
}
