/**
 * INPUT GROUP

 * Aligns and modifies the appearance of a single input and a single
 * button or label together
 */


.input-group {
  @include omega;

  &__input {
    @include span-columns(6);
    @include omega;

    &:first-child input {
      border-radius: $radius 0 0 $radius;
      border-right: 0;
    }

    .input {
      width: 100%;
      margin-bottom: $padding;
    }

    @media #{$breakpoint-small} {
      @include span-columns(7);
      @include omega;
    }

    @media #{$breakpoint-large} {
      @include span-columns(8);
      @include omega;
    }
  }

  &__label {

    @include span-columns(6);
    @include omega;

    &:last-child label {
      display: block;
      border-radius: 0 $radius $radius 0;
    }

    @media #{$breakpoint-small} {
      @include span-columns(5);
      @include omega;
    }

    @media #{$breakpoint-large} {
      @include span-columns(4);
      @include omega;
    }
  }

  &__button {
    @include span-columns(6);
    @include omega;

    &:last-child button {
      border-radius: 0 $radius $radius 0;
    }

    .button {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      line-height: 28px; // modify line-height to match siblings with borders
    }

    @media #{$breakpoint-small} {
      @include span-columns(5);
      @include omega;
    }

    @media #{$breakpoint-large} {
      @include span-columns(4);
      @include omega;
    }
  }
}
