/**
 * MESSAGE

 * A block for displaying a message from the system, such as error and
 * success messages
 */


.message {
  margin: 0 0 $padding * 2;
  padding: $padding;
  background-color: lighten($black, 50%);
  color: $black;
  font-size: $fs-small;
  font-weight: 700;

  &--blue {
    background: lighten($blue, 20%);
  }

  &--green {
    background: lighten($green, 20%);
  }

  &--red {
    background: lighten($red, 20%);
  }

  &--yellow {
    background-color: lighten($yellow, 30%);
  }
}
