/**
 * PRICE CHART

 * A block that shows a single plan/offering, containing features and price
 */


.price-chart {
  margin: $padding 0;
  border-radius: $radius;

  &__heading {
    padding: 0;

    strong {
      font-weight: 400;
      font-size: 20px;
    }

    span {
      font-weight: 400;
      font-size: 12px;
    }
  }

  &__features {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__feature {
    margin: 0 0 $padding;
  }

  @include media($breakpoint-small) {
    text-align: left;

    &__features {
      margin: 0 0 $padding * 2;
    }
  }

  @include media($breakpoint-medium) {
    &__heading {

      strong {
        font-size: 28px;
      }

      span {
        font-size: 14px;
      }
    }
  }
}
