/**
 * PRICE CHART

 * A block that shows a single plan/offering, containing features and price
 */


.price-chart {
  margin: $padding 0;
  border-radius: $radius;

  &__heading {
    padding: 0;

    strong {
      font-weight: 400;
      font-size: $fs-large;
    }

    span {
      font-weight: 400;
      font-size: $fs-extrasmall;
    }

    @media #{$breakpoint-medium} {
      strong {
        font-size: 28px;
      }

      span {
        font-size: $fs-small;
      }
    }
  }

  &__features {
    list-style: none;
    padding: 0;
    margin: 0;

    @media #{$breakpoint-small} {
      margin: 0 0 $padding * 2;
    }

    @media #{$breakpoint-medium} {
      margin: 0 0 $padding;
    }
  }

  &__feature {
    margin: 0 0 $padding;
  }

  @media #{$breakpoint-small} {
    margin: 0;
    text-align: left;
  }
}
