/**
 * SPLASH

 * A block that will usually be the only parent element on a page.
 */


.splash {
  position: relative;
  overflow: hidden;
  height: 100vh;
  margin-bottom: -102px;
  background: $black;
  text-align: center;
  color: $white;

  &__form {
    @media #{$breakpoint-medium} {
      @include span-columns(4);
    }
  }

  .logo {
    margin: ($padding * 2) 0;
  }

  .container {
    @include display(flex);
    @include align-items(center);
    @include flex-direction(column);

    @media #{$breakpoint-medium} and #{$breakpoint-vertical-small} {
      height: 100%;
      @include justify-content(center);
    }
  }

  @media #{$breakpoint-medium} {
    height: 100vh;
  }
}
