/*doc
---
title: Ask
name: ask
category: blocks
---
```html_example

```
*/
.ask {
  padding: $padding 0;
  text-align: center;

  @include media($breakpoint-medium) {
    padding: $padding * 5 0;

    p {
      font-size: 20px;
    }
  }
}
