/*doc
---
title: Header
name: header
category: layout
---
```html_example
  <header class="header"></header>
```
*/
.header {
  background: $black;

  &__title {
    margin: 0;
    float: left;

    a {
      display: block;
      width: 128px;
      height: 42px;
      text-indent: -9999px;
      background: url("/assets/logo-white@2x.png") no-repeat;
      background-size: 100%;
    }
  }

  &__link {
    float: right;
    font-weight: 700;
    line-height: 42px;
  }

  @include media($breakpoint-medium) {
    padding: $padding 0;
  }
}
