/*doc
---
title: Header
name: header
category: layout
---
```html_example
  <header class="header"></header>
```
*/
.header {
  &__wrap {
    @include outer-container;
  }

  &__title {
    float: left;
  }

  &__link {
    float: right;
  }
}
