/*doc
---
title: Hero
name: hero
category: blocks
---
```html_example

```
*/
.hero {
  background: #000;
  color: #fff;

  &__content {
    p {
      line-height: 1.5;
    }
  }
  @include media($breakpoint-medium) {
    &__content {
      margin: 100px 0;
      @include span-columns(6);

      p {
        font-size: 20px;
      }
    }
  }

  @include media($breakpoint-large) {
    &__content {
      @include span-columns(7);
    }
  }
}
