.hero {
  padding: $padding 0;
  background: $black;
  color: $white;
  text-align: center;

  &__text {
    line-height: 1.5;
  }

  &__email-graphic {
    background: $white;
    border-radius: $radius;
  }

  @include media($breakpoint-small) {
    padding: $padding * 2 0;
  }

  @include media($breakpoint-medium) {
    padding: $padding * 3 0;
    text-align: inherit;

    &__content {
      padding: $padding * 2 0 0;
      @include span-columns(6);
    }

    &__text {
      margin-bottom: $padding * 3;
      font-size: 20px;
    }

    &__graphic {
      @include span-columns(6);
    }

    &__email-graphic {
      height: 400px;
    }
  }

  @include media($breakpoint-large) {
    &__content {
      padding: $padding * 3 0;
    }
  }
}
