/*doc
---
title: Hero
name: hero
category: blocks
---
```html_example

```
*/
.hero {
  &__wrap {
    @include outer-container;
  }

  @include media($breakpoint-medium) {
    &__content {
      @include span-columns(6);
    }
  }

  @include media($breakpoint-large) {
    &__content {
      @include span-columns(7);
    }
  }
}
