.price-chart {
  border-radius: $radius;
  text-align: left;

  &__heading {
    strong {
      font-weight: 400;
      font-size: 20px;
    }

    span {
      font-weight: 400;
      font-size: 12px;
    }
  }

  &__features {
    list-style: none;
    margin: 0 0 $padding * 2;
    padding: 0;
  }

  &__feature {
    margin: 0 0 $padding;
  }

  @include media($breakpoint-medium) {
    &__heading {

      strong {
        font-size: 28px;
      }

      span {
        font-size: 14px;
      }
    }
  }
}
