.tout {
  padding: $padding 0 0;
  text-align: center;

  h3 {
    margin-bottom: $padding;
  }

  @include media($breakpoint-small) {
    text-align: left;

    h1 {
      text-align: center;
    }
  }

  @include media($breakpoint-medium) {
    padding: $padding * 5 0 0;

    &__item {
      margin-top: $padding * 3;
      margin-bottom: $padding * 3;

      &-row {
        overflow: hidden;

        &:last-of-type {
          margin-bottom: $padding * 2;
        }

        .tout__item {
          @include span-columns(6);
          margin-top: $padding;
          margin-bottom: $padding;
        }
      }

      &--left {
        @include span-columns(8);
      }

      &--right {
        @include span-columns(8);
        @include shift(4)
      }
    }

    p {
      font-size: 20px;
    }
  }
}
