/*doc
---
title: Hero
name: hero
category: blocks
---
```html_example

```
*/
.tout {
  background: $dark-white;

  h2 {
    text-align: center;
  }

  &__item {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  @include media($breakpoint-medium) {
    &__item {
      @include span-columns(8);

      &--right {
        @include shift(4)
      }
    }
  }
}
