/*doc
---
title: Tout
name: tout
category: blocks
---
```html_example

```
*/
.tout {
  padding: $padding 0 0;
  background: $dark-white;

  h1 {
    text-align: center;
  }

  &__item {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  @include media($breakpoint-medium) {
    padding: $padding * 5 0 0;

    &__item {
      @include span-columns(8);

      &--right {
        @include shift(4)
      }
    }

    p {
      font-size: 20px;
    }
  }
}
