.button {
  width: 236px;
  height: 54px;
  display: block;
  margin: 0 9px;
  font-family: $font-alt;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.05em;
  line-height: 56px;
  text-align: center;
  color: white !important;
  @include border-radius(4px);
  @include box-shadow(0 1px 0 white);
  &.blue {
    background-color: lighten($blue, 15%);
    @include background(linear-gradient(top, $blue #1d789f));
    &:hover {
      background: $blue;
    }
  }
  &.green {
    background-color: lighten($green, 15%);
    @include background(linear-gradient(top, $green, #287f34));
    &:hover {
      background: $green;
    }
  }
}
