/**
 * VARIABLES

 * Variables that modify behavior of our Gems or used by our component
 */


/**
 * Neat Overrides
 */

$border-box-sizing: true !global;

/**
 * Sizes
 */

$padding : 15px;
$radius  : 3px;

/**
 * Responsive Breakpoints

 * We predominantly follow mobile-first pattern

 * We also have variables for specific ranges. These should only be used
 * in situations where we’d have to write a lot of CSS that assumes too
 * many things (such as resetting styles between breakpoints)
 */

$breakpoint-to-small      : "(max-width: 575px)";  // Up to 575px
$breakpoint-small         : "(min-width: 576px)";  // Landscape phone and up
$breakpoint-to-medium     : "(max-width: 767px)";  // Up to Tablet
$breakpoint-medium        : "(min-width: 768px)";  // Tablet and up
$breakpoint-to-large      : "(max-width: 991px)";  // Up to dsktop
$breakpoint-large         : "(min-width: 992px)";  // Desktop and up
$breakpoint-to-extralarge : "(max-width: 1199px)"; // Up to Bigger desktop
$breakpoint-extralarge    : "(min-width: 1200px)"; // Bigger desktop and up

$breakpoint-vertical-small : "(min-height: 768px)";

/**
 * Colors

 * These are directly from UpHex branding and from our providers (Twitter,
 * Facebook, etc.). There should be almost no reason to add more variables
 * here. Instead, modify existing ones by using SASS functions to darken,
 * lighten and mix colors for your purposes.
 */

$black            : #23272b;
$light-black      : #5e7388;
$dark-white       : #edf2f7;
$white            : #fff;
$blue             : #2781ef;
$green            : #24cc6b;
$red              : #d73333;
$yellow           : #f5e139;

$facebook         : #4967a9;
$google-analytics : #f7931e;
$shopify          : #7fa932;
$twitter          : #2aa9e0;

/**
 * Font-Sizes

 * Always use these variables when sizing type. Sizing font icons are
 * the only exception.
 */

$fs-extrasmall : 12px;
$fs-small      : 14px;
$fs-medium     : 16px;
$fs-large      : 20px;
$fs-extralarge : 30px;
$fs-megalarge  : 40px;

/**
 * Z-Indicies

 * Always use these variables when declaring z-index values.
 */

$z-hidden  : -1;
$z-base    : 1;
$z-raise   : 2;
$z-toolbar : 3;
$z-tooltip : 4;
$z-overlay : 5;
$z-modal   : 6;

/**
 * Transitions

 * So our animations play at a consistent rate
 */

 $t-fast : 0.15s;
 $t-slow : 0.30s;
