/**
 * Universal elements, like containers
 */

body {
  color: $black;
  font-family: 'open sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  position: relative;
  padding: $gutter / 2;
  @include outer-container();
}

/**
 * Typography
 */

a {
  color: $white;
  text-decoration: none;
}
