/**
 * Universal elements, like containers
 */

.container {
  position: relative;
  padding: $gutter / 2;
  @include outer-container;
}

/**
 * Typography
 */

a {
  color: #fff;
  text-decoration: none;
}
