/**
 * Universal elements, like containers
 */

.container {
  padding: $gutter / 2;

  @include media($breakpoint-medium) {
    padding: $gutter / 2;
  }
  @include outer-container;
}

/**
 * Typography
 */

a {
  color: #fff;
  text-decoration: none;
}
