/**
 * Neat
 */
$border-box-sizing: true !global;

/**
 * Sizes
 */
$padding: 15px;
$radius: 3px;

/**
 * Responsive Breakpoints
 */
$breakpoint-small: min-width 34em;      // Landscape phone and up
$breakpoint-medium: min-width 48em;     // Tablet and up
$breakpoint-large: min-width 62em;      // Desktop and up
$breakpoint-extralarge: min-width 75em; // Bigger desktop and up

/**
 * Colors
 */
$black: #23272b;
$light-black: #5e7388;
$dark-white: #edf2f7;
$white: #fff;
$blue: #2781ef;
$green: #24cc6b;
$red: #d73333;
$yellow: #f5e139;
