!!! 5
!= cc_html(lang: 'en') do
  %head
    %meta{:charset => 'utf-8'}
    %title UpHex | Proactive Marketing Alerts
    != css :theme
    = favicon_tag 'favicon.png', :type => 'image/ico'

  %body.contrast-dark
    = yield
